/*

Stylesheet for CSS Demo

*/

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*---------Utility Classes--------*/

.container{
  width:70vw;
  margin:40px auto;
}

body {
    background-color:#EBC3BC;
}

img{
  max-width:100%;
}

.img-right{
  float:right;
  margin-left:20px;
  border: 1px solid #73412F;
  padding:5px;
}

.img-left{
  float:left;
  margin-right:20px;
  border: 1px solid #73412F;
  padding:5px;
}

.img-center{
  display:block;
  margin:20px auto;
  border: 1px solid #73412F;
  padding:5px;
}
/* ---------------Global Styles----------------- */


/*Color Schemes
Primary- #D49F9F
 */
body {
  font-family: 'Playfair Display', serif;
  margin:0;
}

header.primary{
background-color:#D49F9F;
text-align:center;
padding: 40px;
}

header.primary h1{
  font-size: 2.3rem;
}

header.primary h1 a{
  color:black;
  text-decoration:none;
}

header.primary h2{
  font-size: 1.8rem;
  margin:20px auto 40px;
  color:white
}

header.primary nav{
  width:80vw;
  margin:0; auto;
}
header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
background-color:lightcoral;
justify-content:space-evenly;
border-radius: 20px 40px 90px 20px;
}
header.primary nav ul li{
  list-style-type:none;

}
header.primary nav ul li a{
  color:black;
text-decoration:none;
padding:8px 16px;
display:inline-block;
transition:.3s;
}
header.primary nav a:hover{
background-color:rgba(0, 0, 0,.8);
}

h1, h2, h3, h4, h5, h6{
  color:lightcoral;
}




section#intro{
  border-bottom:1px dotted #73412F;
  padding-bottom:1.2rem;
}

#intro h2{
  color:#73412F;
  border-bottom:1px dotted #73412F;
}

h4{
  border-bottom: solid#73412F;
  border-top: solid #73412F;
  text-align:center;
}



#content{
  display:flex;
  flex-direction:row;
  justify-content:space-between; 
  border-bottom:1px dotted #73412F;
  padding-bottom:1.2rem;

}


#content article.post{
  width:30%;
  box-shadow:0 4px 8px rgba(0, 0, 0,1);
padding:10px;
border-radius:8px;
font-size:.5rem;
transition:.3s;
}



#content article.post:hover{
  box-shadow:0 4px 8px rgba(0, 0, 0,.5);
}


time.post-date, figcaption, .post-meta{
  text-transform:capitalize;
  color:#73412F;
}

.post figure{
margin:0;
}

.post img{
  border:1px solid #73412F;
  padding:2px;
  margin: 5px 0;
}



.post a{
  color:#73412F;
  transition:.3s;
}

.post a:hover, .post a:active{
  text-decoration:none;
color:black
}



aside[role="complementary"]{
background-color:#D49F9F;
padding:1.5rem;
}

aside div.container{
  display:flex;
  flex-direction:row;
  justify-content:space-between; 
}



aside article.widget{
  width:45%
}

article.widget a{
  color:#73412F;
  display:block;
  margin-top:.8rem;
}

article.widget footer{
  display:none;
}



#colophon h6{
  background-color:#73412F;
padding:20px;
margin:0;
text-align:center;
font-size:.8rem;
text-transform:capitalize;
}





#additional-elements h2{
color:#73412F;
border-bottom 1px dotted #73412F;
}


#additional-elements a{
color:#73412F;
}

#additional-elements a:hover{
text-decoration:none;
}


#additional-elements h3{
  border-left:10px solid #73412F;
  padding: 12px;
}


table{
width:100%;
border:1px solid #73412F;
border-collapse:collapse;
}



tr:nth-child(even){
  background-color:#D49F9F;
}

tr:hover{
background-color:#A64B5B;
}


th{
background-color: lightcoral;
width:33%;
padding:8px;
}

td:nth-child(2n),td:nth-child(3n){

  text-align:right;
}

td{
  border:1px solid #73412F;
  padding:5px;
}


table caption{
  color:#73412F;
  padding:10px;
  font-weight:bold;
  font-size:1.5rem;
}



#additional-elements ol{
list-style-type:circle;
list-style-position:outside;
}


#additional-elements ol li{
list-style-type:circle;
}

#additional-elements ul{
  list-style-type:square;
}

#additional-elements ul ul{
  list-style-type:disc;
}



dt{font-weight:bold;
}

dd{
  margin-left:0;
}

dd + dt{
margin-top:1rem;
}



#additional-elements blockquote{

  background-color:lightcoral;
  padding:30px 40px;
border:5px double #73412F;
border-radius:15px;
font-size:1.2rem;
}


#additional-elements cite{
  display:block;
  font-size:1rem;
  text-align:right;
  font-weight:bold;
  margin-top:1.5rem;
  color:#73412F;
}

@media screen and (max-width:500px){
  header.primary nav ul{
    flex-direction:column;
  }

}