/*

Stylesheet for CSS Demo

*/

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*---------Utility Classes--------*/

.container{
  width:70vw;
  margin:40px auto;
}

body {
    background-color:#EBC3BC;
}

/* ---------------Global Styles----------------- */


/*Color Schemes
Primary- #D49F9F
 */
body {
  font-family: 'Playfair Display', serif;
  margin:0;
}

header.primary{
background-color:#D49F9F;
text-align:center;
padding: 40px;
}

header.primary h1{
  font-size: 2.3rem;
}

header.primary h1 a{
  color:black;
  text-decoration:none;
}

header.primary h2{
  font-size: 1.8rem;
  margin:20px auto 40px;
  color:white
}

header.primary nav{
  width:80vw;
  margin:0; auto;
}
header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
background-color:lightsalmon;
justify-content:space-evenly;
border-radius: 20px 40px 90px 20px;
}
header.primary nav ul li{
  list-style-type:none;

}
header.primary nav ul li a{
  color:black;
text-decoration:none;
padding:8px 16px;
display:inline-block;
transition:.3s;
}
header.primary nav a:hover{
background-color:rgba(0, 0, 0,.8);
}

h1, h2, h3, h4, h5, h6{
  color:lightcoral;
}




section#intro{
  border-bottom:1px dotted #c0c0c0;
  padding-bottom:2.2rem;
}

#intro h2{
  color:#73412F;
  border-bottom:1px dotted #c0c0c0;
}

























@media screen and (max-width:500px){
  header.primary nav ul{
    flex-direction:column;
  }

}