/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*---------Utility Classes--------*/


  body{
      background-color: #D9A78B;
  }

  body h1{
      text-align: center;
      color:#401404
  }

body h2{
  text-align: center;
  color:#401404
}

nav ul li a{
  text-decoration: none;
  color:#734930;
}
